{% extends "base.html" %} {% block content %}

<div class="container grey lighten-3 rcorners2" style="padding:20px; margin-top:100px; margin-bottom:50px;">
  <h4 class="grey-text text-darken-3 center-align">Aprobar palabras</h4>
  <p class="center-align">Acepta las palabras nuevas!<p>
  <div class="black-text">
    {% if len(words) == 0 %}
      <div class="container">
          <p>No hay palabras para aprobar.</p>
      </div>
    {% endif %}
    {% for word in words %}
    <p>
      <form action="/search/approve/" method="POST">
      {%csrf_token%}
      {{word.word_text}}
      {{word.word_meaning}}
      {{word.word_example}}
      {{word.word_origin}}
      <input type="hidden" name="word_id" value="{{word.id}}"> 
      <button type="submit" class="btn waves-effect green" name="button" value="aprobar"><i class="material-icons right">send</i>Aprobar</button>
      <button type="submit" class="btn waves-effect green" name="button" value="eliminar"><i class="material-icons right">send</i>Eliminar</button>
      </form>
    </p>
    {%endfor%}
  </div>
</div>
{% endblock %} 