{% load static %}


<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Diccionario</title>
	<link rel="shortcut icon" type="image/png" href="/media/favicon.png" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href={% static 'css/materialize.css' %} type="text/css" rel="stylesheet" media="screen,projection" />
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src={% static 'js/materialize.js' %}></script>
	<script src={% static 'js/init.js' %}></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<!-- Ubicacion css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<meta property="og:title" content="MB Detroit Imbestments" />
	<meta property="og:description" content="Surge con el objetivo de conectar nuestros clientes con las mejores oportunidades de inversión en bienes raíces, brindándole un servicio integral a cada cliente. Contamos con una amplia y vasta experiencia, además de una larga trayectoria de casi 20 años en el mercado inmobiliario de Detroit."
	/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://imbestments.com/" />
	<meta property="og:image" content="/media/logo_blanco.png" />
	<meta property="og:site_name" content="MB Detroit Imbestments" />
	<meta property="og:locale" content="es_ES" />

	<meta name="description" content="Surge con el objetivo de conectar nuestros clientes con las mejores oportunidades de inversión en bienes raíces, brindándole un servicio integral a cada cliente. Contamos con una amplia y vasta experiencia, además de una larga trayectoria de casi 20 años en el mercado inmobiliario de Detroit.">
	<meta name="keywords" content="Detroit, inversiones, inversiones en Detroit, comprar en Detroit, invertir en Detroit">

</head>

<body>
	<!--  NavigationBar-->
	<div class="navbar-fixed grey">
		<ul id="dropdown1" class="dropdown-content z-depth-5 rcorners3 grey lighten-3">
			<li><a href="/" class="black-text">Historia</a></li>
		</ul>
		<nav class="red darken-1 black-text" role="navigation" id="navigation">
			<div class="nav-wrapper " style="padding-left: 20px; padding-right:20px;">
				<a id="logo-container" href="/search/" class="brand-logo ">
					<span class="">Diccionario sin coronita</span>
				</a>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="white-text"><b>Inicio</b></a></li>
					<li><a href="/sobre_el_diccionario" class="white-text"><b>Sobre el Diccionario</b></a></li>
					<li><a href="/search/new" class="black-text btn green" style="text-transform: capitalize; color: white !important">Añadir Palabra</a></li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a class="black-text" href="/"><b>Inicio</b></a></li>
					<li>
						<ul class="collapsible collapsible-accordion black-text" data-collapsible="accordion">
							<li><a href="/sobre_el_diccionario" class="black-text"><b>Sobre el Diccionario</b></a></li>
							<li><a href="/search/new" class="black-text btn green" style="text-transform: capitalize; color: white !important">Añadir Palabra</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="orange darken-1" style="height:10px;">
			</div>
		</nav>

	</div>

	{% block content %} {% endblock %}

	<footer class="page-footer red">
		<div class="container">
			<div class="row">
				<div class="col l3 m12 s12 center-align">
					<h5 style="line-height:100px;">Diccionario</h5>
				</div>
				<div class="col l3 m12 s12">
					<h5>Accesos</h5>
					<a href="/" class="white-text"><b>Inicio</b></a><br>
					<a href="/sobre_el_diccionario" class="white-text"><b>Sobre el Diccionario</b></a><br>
					<a href="/search/new" style="text-transform: capitalize; color: white !important">Añadir Palabra</a>
				</div>
				<div class="col l6 m12 s12 center-align ">
					<h5>Diccionario</h5>
					<div class="left-align">
						<font size="2">Empoderarse de la lengua. Otorgarle permiso de existencia a las palabras con las que hablamos y sentimos. Generar una zona de inclusión que levante las barreras en vez de pedir pasaportes. Son algunos de los objetivos y de las ideas subyacentes
							al “Diccionario sin coronita”.
						</font>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			</div>
		</div>
	</footer>


	{% block javascript %} {% endblock %}
	<script>
	</script>
</body>

</html>
