{% extends "base.html" %} {% block content %}


<div class="grey lighten-2" style=" padding-left:20px; padding-right:20px; padding-top:30px; padding-bottom:30px;">
  <div class="row">
    <div class="col l2 s12" style="padding:0px;">

      <div class="white z-depth-5 rcorners3">
        <form id="searchform" action={% url 'search:search' %} method="GET" style="margin-bottom:40px;">
          <div class="row" style="margin-bottom:0px !important;">
            <div class="col s12">
              <h5 class="center-align"><br><b>Buscar Definiciones:</b></h5>
              <input class="searchfield" id="searcher" name="searcher" type="text" placeholder="Ingresar palabra">
            </div>
          </div>
          <div class="center-align">
            <button type="submit" class="btn waves-effect grey"><i class="material-icons right">search</i>Buscar</button>
          </div>
        </form>
        <div class="center-align grey darken-3">
          <a class="btn red rcorners3" href="/search/new/" style="margin-top:20px; margin-bottom:20px;"><b>Agregar Palabra</b></a>
        </div>
        {% if request.user.is_superuser %}
        <div class="center-align grey darken-3">
          <a class="btn green rcorners3" href="/search/approve/" style="margin-top:20px; margin-bottom:20px;"><b>Aprobar Palabras</b></a>
        </div>
        {% endif %}
      </div>

      <div class="container2 z-depth-5 rcorners3 center-align white" style="margin-top:20px; padding:20px; min-height:50px; line-height:50px;">
        <img src="/media/Sofiacart.png" style="width:100%;">
      </div>
      <div class="container2 z-depth-5 rcorners3 center-align white" style="margin-top:20px; min-height:50px; line-height:50px;">
        <img src="/media/foro-lenguas-mapa.jpg" class="materialboxed" style="width:100%;">
      </div>


    </div>

    <div class="col l10 s12">

      <div class="white" style="padding:20px;">


        {% if not words %}
        <div class="container">
          <h5 class="blue white-text center-align" style="padding:30px;">No hay palabras para aprobar</h5>
        </div>
        {% else %}

        <h5 class="left-align"><b>Acepta las palabras nuevas!</b></h5> {% endif %}
        {% for word, meanings in words %}
        <div class="grey lighten-3" style="padding:20px; margin-bottom:20px;">


        <p>
          <form action="/search/approve/" method="POST">
            {%csrf_token%} <font size="5"><b>{{word.word_text}}:</b>
            {% for meaning in meanings %}
            <p> {{forloop.counter}}- {{ meaning.meaning_text }}</p> <button type="submit" class="btn waves-effect red" name="button" value="eliminar_significado/{{meaning.id}}"><i class="material-icons right">delete</i>Eliminar</button>
            {% endfor %}
            </font> <br> <font size="3"> <b> Ejemplo:</b> {{word.word_examples}}</font> <br> <b>Origen:</b> {{word.word_origin}}<br>
            <br>
            <input type="hidden" name="word_id" value="{{word.id}}">
            <button type="submit" class="btn waves-effect green" name="button" value="aprobar"><i class="material-icons right">check</i>Aprobar</button>
            <button type="submit" class="btn waves-effect red" name="button" value="eliminar"><i class="material-icons right">delete</i>Eliminar</button>
          </form>
        </p>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{% endblock %}
