{% extends "base.html" %} {% block content %}


<div class="grey lighten-2" style=" padding-left:20px; padding-right:20px; padding-top:30px; padding-bottom:30px;">
  <div class="row">
    <div class="col l2 s12" style="padding:0px;">

      <div class="white z-depth-5 rcorners3">
        <form id="searchform" action={% url 'search:search' %} method="GET" style="margin-bottom:40px;">
          <div class="row" style="margin-bottom:0px !important;">
            <div class="col s12">
              <h5 class="center-align"><br><b>Buscar Definiciones:</b></h5>
              <input class="searchfield" id="searcher" name="searcher" type="text" placeholder="Ingresar palabra">
            </div>
          </div>
          <div class="center-align">
            <button type="submit" class="btn waves-effect grey"><i class="material-icons right">search</i>Buscar</button>
          </div>
        </form>
        <div class="center-align grey darken-3">
          <a class="btn red rcorners3" href="/search/new/" style="margin-top:20px; margin-bottom:20px;"><b>Agregar Palabra</b></a>
        </div>
         {% if request.user.is_superuser %}
        <div class="center-align grey darken-3">
          <a class="btn red rcorners3" href="/search/approve/" style="margin-top:20px; margin-bottom:20px;"><b>Aprobar Palabras</b></a>
        </div>
        {% endif %}
      </div>

      <div class="blue z-depth-5 rcorners3 hide-on-med-and-down" style="margin-top:30px; min-height:300px;">
        <p class="center-align white-text" style="line-height:300px;">Cartel o Publicidad</p>
      </div>
      <div class="black z-depth-5 rcorners3 hide-on-med-and-down" style="margin-top:30px; min-height:300px;">
        <p class="center-align white-text" style="line-height:300px;">Cartel o Publicidad</p>
      </div>


    </div>
    {% if not words %}
      <div class="container">
          <p class="center-align">No hay palabras para aprobar<p>
      </div>
    {% else %}

    <p class="center-align">Acepta las palabras nuevas!<p>

    {% endif %}
    {% for word in words %}
    <p>
      <form action="/search/approve/" method="POST">
      {%csrf_token%}
      {{word.word_text}}
      {{word.word_meaning}}
      {{word.word_example}}
      {{word.word_origin}}
      <input type="hidden" name="word_id" value="{{word.id}}"> 
      <button type="submit" class="btn waves-effect green" name="button" value="aprobar"><i class="material-icons right">send</i>Aprobar</button>
      <button type="submit" class="btn waves-effect green" name="button" value="eliminar"><i class="material-icons right">send</i>Eliminar</button>
      </form>
    </p>
    {%endfor%}
  </div>
</div>
{% endblock %} 