{% extends "base.html" %} {% block content %}
<div>
<div class="container">
  <h3>{{ word.word_text }}</h3>
  <p> 1- {{ word.word_meaning }}</p>
  <p><b>Ejemplo:</b> "{{ word.word_examples }}"</p>
  <p><b>Origen:</b> {{ word.word_origin }}</p>
  <ul>
    {% for meaning in word.meaning_set.all %}
    <li>{{ add.meaning_text }}</li>
    {% endfor %}
  </ul>
  <a class="btn btn-small waves-effect waves-light blue rcorners3" onclick="goBack()" style="margin-bottom:50px;"><i class="material-icons left">arrow_back</i>Volver</a>
  <a class="btn btn-small waves-effect waves-light green rcorners3" onclick="goBack()" style="margin-bottom:50px;"><i class="material-icons right">add</i>Agregar Significado</a>

</div>
  <div class="row grey lighten-2" style="padding:20px;">
    <h4 class="black-text center-align">Otras palabras visitadas:</h4>
    {%for i in random_words%}
    <div class="col s12 m6 l3">
      <div class="card rcorners2 darken-1 z-depth-5">
        <div class="card-content white-text">
          <span class="black-text card-title center-align">{{i}}</span>
          <p class="black-text">{{i.word_meaning}}</p>
        </div>
        <div class="card-action center-align">
          <a class="btn" href="#">Conocer más</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  </div>


{% endblock %} {% block javascript %}

<script>
function goBack() {
          window.history.back();
      }
</script>
{% endblock %}
