{% extends "base.html" %} {% block content %}
<div class="container">
  <a class="btn btn-large" href="/search/new/">Agregar Palabra</a>
<h3>Últimas palabras añadidas:</h3>
{% if latest_word_list %}
<ul>
  {% for word in latest_word_list %}
  <li><a href="{% url 'search:detail' word.id %}"><h5>{{ word.word_text }}</h5></a></li>
  {% endfor %}
</ul>
{% else %}
<div class="container">
  <p>No hay palabras disponibles.</p>
</div>
{% endif %}
</div>
{% endblock %} {% block javascript %} {% endblock %}
