{% extends "base.html" %} {% block content %}



<div class="grey lighten-2" style=" padding-left:20px; padding-right:20px; padding-top:30px; padding-bottom:30px;">
  <div class="row">
    <div class="col l2 s12" style="padding:0px;">

      <div class="white z-depth-5 rcorners3">
        <form id="searchform" action={% url 'search:search' %} method="GET" style="margin-bottom:40px;">
          <div class="row" style="margin-bottom:0px !important;">
            <div class="col s12">
              <h5 class="center-align"><br><b>Buscar Definiciones:</b></h5>
              <input class="searchfield" id="searcher" name="searcher" type="text" placeholder="Ingresar palabra">
            </div>
          </div>
          <div class="center-align">
            <button type="submit" class="btn waves-effect grey"><i class="material-icons right">search</i>Buscar</button>
          </div>
        </form>
        <div class="center-align grey darken-3">
          <a class="btn red rcorners3" href="/search/new/" style="margin-top:20px; margin-bottom:20px;"><b>Agregar Palabra</b></a>
        </div>
        {% if request.user.is_superuser %}
        <div class="center-align grey darken-3">
          <a class="btn green rcorners3" href="/search/approve/" style="margin-top:20px; margin-bottom:20px;"><b>Aprobar Palabras</b></a>
        </div>
        {% endif %}
      </div>

      <div class="blue  z-depth-5 rcorners3 hide-on-med-and-down" style="margin-top:30px; min-height:300px;">
        <p class="center-align white-text" style="line-height:300px;">Cartel o Publicidad</p>
      </div>
      <div class="black  z-depth-5 rcorners3 hide-on-med-and-down" style="margin-top:30px; min-height:300px;">
        <p class="center-align white-text" style="line-height:300px;">Cartel o Publicidad</p>
      </div>


    </div>
    <div class="col l10 s12 lighten-4" style="padding-left:25px;">
      <div class="hide-on-med-and-up" style="height:10px; margin-top:30px;">
      </div>
      <div class="white z-depth-5 rcorners3" style="padding:20px;">


        <h4 class="grey-text text-darken-3 left-align">Añadir palabra</h4>
        <font size="3">¿Te sumás a hacer un diccionario entre todos?<br>
La Sofìa Cartonera te invita a armar un glosario de voces de uso cotidiano que no aparecen contempladas en los lexicones que propone la Real Academia Española.<br>
Por ejemplo:<br>
<div class="grey lighten-3" style="padding:20px;">
<b><u>Buluquita:</u></b> diminutivo de buluca, sustantivo, dícese de las frutas del paraíso, verdes o maduras, que por su forma esférica y su tamaño sirven como proyectiles en juegos bélicos de niños en algunos barrios de la ciudad de Córdoba, Argentina.
</div>
<br>
<b class="red-text">ACORDATE: LA CONDICIÓN PARA PARTICIPAR ES QUE LA PALABRA NO ESTÉ DEFINIDA EN LOS DICCIONARIOS DE LA RAE.</b><br> </font>
<br>
        <h5 class="left-align">Completa el siguiente formulario para añadir una nueva palabra:
        </h5>
            <div class="black-text">
              <form action="/search/new/" method="POST">
                {%csrf_token%}
                <p class="" style="display:inline-block"><b>{{form.word.label}}:</b></p>
                <div style="display:inline-block; margin-left:20px;">{{form.word}}</div><br>

                <p class="" style="display:inline-block"><b>{{form.meaning.label}}:</b></p>
                <div style="display:inline-block; margin-left:20px;">{{form.meaning}}</div><br>

                <p class="" style="display:inline-block"><b>{{form.example.label}}:</b></p>
                <div style="display:inline-block; margin-left:20px;">{{form.example}}</div><br>

                <p class="" style="display:inline-block"><b>{{form.origin.label}}:</b></p>
                <div style="display:inline-block; margin-left:20px;">{{form.origin}}</div><br>
                <button type="submit" class="btn waves-effect green" name="button"><i class="material-icons right">send</i>Enviar</button>
              </form>
            </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %} {% endblock %}
